[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/javierron/go-ethereum.git
	branch = subnode-3
[submodule "ethereum-docker"]
	path = ethereum-docker
	url = https://github.com/gluckzhang/ethereum-docker.git
	branch = master
[submodule "besu"]
	path = besu
	url = https://github.com/gluckzhang/besu.git
	branch = subnode
